.titulo a{
    color: #f9c5a2;
    text-shadow: 4px 4px 4px #7b1414;
    font-size: 88px;
}
.titulo{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    top:-15px;
    position: absolute;
    margin-left: 35%;
}